@import "../../App.scss";

.sales {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  &__actions {
    display: flex;
    justify-content: space-between;

    &__date {
      display: flex;
      gap: 2rem;
    }
  }
  &__addBtn {
    text-align: right;
    align-self: end;
    margin-right: 2rem;
    cursor: pointer;
    background-color: $secondary-color;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
  }
  &__heading {
    margin-top: 1rem;
    text-decoration: underline;
  }
  &__table {
    text-align: left;
    border: 1px solid $secondary-color;
    margin-right: 2rem;
    border-collapse: collapse;
    &__quantity {
      padding-left: 3rem !important;
    }

    &__actionBtn {
      border: 1px solid $secondary-color;
      color: $secondary-color;
      transition-duration: 200ms;
      cursor: pointer;
      padding: 5px 10px;
      min-width: 5rem;
      background-color: white;
      margin-right: 1rem;
      &:hover {
        background-color: $secondary-color;
        color: white;
      }
    }
    th,
    td {
      padding: 1rem;
      border-bottom: 1px solid $secondary-color;
    }
  }
}
